@model IEnumerable<MVC_project_dotnet.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDesc)
        </th>
        @*
        <th>
           
            @Html.DisplayNameFor(model => model.ItemPicture)
           
         </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TSNUser.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDesc)
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.ItemPicture)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TSNUser.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal",new { @class = "btn btn-default" })
</p>
<br/>
<footer>
    <p>
        &copy; @DateTime.Now.Year - Terms and Conditions<br/>
        Please read these Terms of Use carefully before using the TSN Student Inventory System website operated by Tun Syed Nasir Residential College. Your access to <br/>and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
       <br/> 1. This website is restricted to UTHM student who registered under Tun Syed Nasir Residential College only.
       <br/> 2. Risk of damage or loss of the item stored will not be responsible by the management of TSN Residential College. The item stored is your own responsibility.
       <br/> 3. The items that allow to store is only up to five items per person.
       <br/> 4. By agree, your personal data will be collected and stored. However, it is guaranteed that the personal data will be not expose to any potential risk or harm.
    </p>
</footer>
