@model IEnumerable<MVC_project_dotnet.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDesc)
        </th>
        @*
        <th>
           
            @Html.DisplayNameFor(model => model.ItemPicture)
           
         </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TSNUser.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemPicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSNUser.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
